.navBar{
    padding: 1rem;
    margin: 1rem;
}

.formulario{
    box-shadow: 0px 0px 2px var(--bg-shadow);
    border-radius: .5rem;
    padding: 1rem;
    background-color: var(--btn-bgNav);
}

.formulario h2{
    color: var(--bg-color-h2);
}

.input-container {
    position: relative;
    margin-bottom: 16px;
}

.input-container input {
    width: 100%;
    background-color: transparent;
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.input-container input:focus {
    border-color: var(--bg-bd-input);
    outline: none;
}

.input-container label {
    position: absolute;
    background-color: transparent;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: #80868b;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: 0;
    left: 14px;
    font-size: 12px;
    padding: 0 4px;
    background-color: var(--btn-bgNav);
    color: var(--bg-bd-input); 
}

.input-container select {
    width: 100%;
    background-color: transparent;
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    background-color: var(--btn-bgNav);
}

.input-container select:focus {
    border-color: var(--bg-bd-input);
    outline: none;
}

.input-container select:focus + label,
.input-container select:not(:placeholder-shown) + label {
    top: 0;
    left: 14px;
    font-size: 12px;
    padding: 0 4px;
    background-color: var(--btn-bgNav);
    color: #1a73e8;
}

.formulario_dadosch{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.formulario_dadosch .input-container,
.formulario_dados .input-container{
    width: 100%;
}

.formulario_dados{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.button{
    display: flex;
    justify-self: right;
    gap: .5rem;
}

.button-reset{
    background-color: transparent;
    color: var(--btn-text);
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-reset:hover {
    background-color: var(--bg-color-sl);
    color: #1a73e8;
}

.button-salvar {
    background-color: var(--bg-color-h2);
    color: var(--bg-color);
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-salvar:hover {
    background-color: var(--bg-bd-input);
}