*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--btn-text);
}

:root {
    --bg-color: #ffffff;
    --text-color: #111111;
    --btn-bg: #dddddd;
    --btn-bgNav: #FFFFFF;
    --btn-text: #111111;
    --bg-color-sl: #EAC452;
    --bg-color-h2: #0f54af;
    --bg-bd-input: #1a73e8;
    --bg-shadow: #5a5959;
    --bg-color-search: #EFEFEF;
}

  /* Tema escuro sobrescreve */
:root.dark-mode {
    --bg-color: #424c5f;
    --text-color: #f1f1f1;
    --btn-bg: #eceaea;
    --btn-bgNav: #424c5f;
    --btn-text: #ffffff;
    --bg-color-h2: #d4e7ff;
    --bg-bd-input: #87b2e9;
    --bg-shadow: #d9f3ff;
    --bg-color-search: #0f54af;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
}

.mode {
    border: none;
    border-radius: .4rem;
    background: transparent;
    color: var(--btn-text);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, color 0.3s;
}

  /* Ícones: só exibe um dependendo do tema */
.mode .material-symbols-outlined {
    font-size: 24px;
    display: none;
}
:root:not(.dark-mode) .mode .material-symbols-outlined:first-child {
    display: block; /* lua */
}
:root.dark-mode .mode .material-symbols-outlined:last-child {
    display: block; /* sol */
    color: var(--bg-color-sl);
}